In [1]:
'''
string inbuilt methods - functions that belong to class String
syntax: "string".function()
''' 

#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu Oct 18 12:22:33 2018

@author: gopinath
"""


#format method
"Hi I am {}".format("name")

'Hi I am name'

In [2]:
#count number of a's in string
"Happy Birthday".count("a")

2

In [3]:
#count number of a's in string
x="Happy Birthday Ganesh"
x.count("a")

3

In [4]:
x = "HAPPY BIRTHDAY"

#lower method
x.lower()

'happy birthday'

In [5]:
#x is immuatable, that is it cannot be changed but only it can be replaced
#x is still in Orignal Upper case
x

'HAPPY BIRTHDAY'

In [6]:
x=x.lower()

In [7]:
#x is immuatable, that is it cannot be changed but only it can be replaced
print(x)

happy birthday

In [8]:
#capitalize
x.capitalize()

'Happy birthday'

In [9]:
#Title
x.title()

'Happy Birthday'

In [10]:
#lowercase  -- gives condition TRUE OR FALSE
x.islower()

True

In [11]:
#
x.isupper()

False

In [12]:
#is alpha is false because space between HAPPY & BIRTHDAY is considered as digit
x.isalpha()

False

In [13]:
#space is not alphabet its digit
" ".isalpha()

False

In [14]:
"abv".isalpha()

True

In [15]:
"1234".isdigit()

True

In [16]:
x="Bonus"
#postion of o in string
x.index("o")

1

In [17]:
x.find("ou")

-1

In [18]:
#Big O is missing
x.find("O")

-1

In [19]:
x.find("o")

1

In [ ]:
#2 space + john  =6 characters
name =input("what is your name?")
print(len(name))

In [ ]:
#strip fiction would remove all spaces
name =input("what is your name?").strip()
print(len(name))